[submodule "src/broker"]
	path = src/broker
	url = https://github.com/m-c-frank/broker
[submodule "app"]
	path = app
	url = https://github.com/m-c-frank/webpresentations
[submodule "broker"]
	path = broker
	url = https://github.com/m-c-frank/broker
